<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-2">
  <div></div>
    <a class="navbar-brand" href="#">Angular State Management</a>
    <ng-container *ngIf="store.appState?.user">

    </ng-container>
</nav> -->
@if(store.appState.user.identified) {
  <p-menubar [model]="items">
    <span>{{store.appState.user.firstname}} {{store.appState.user.lastname}}</span>
    <h3>Angular State Management</h3>
  </p-menubar>
}
@else {
  <p-menubar [model]="[]">
    <h3>Angular State Management</h3>
  </p-menubar>
}
